workflows/n8n/funding-readiness-scorecard.n8n.json
{
  "name": "Funding Readiness Scorecard Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "scorecard-webhook",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "notesInFlow": true,
      "notes": "Expected payload from /api/submit-score.js is nested under body.scoreResult. Use N8N_SCORECARD_WEBHOOK_URL for this forwarding path."
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{Number($json.body && $json.body.scoreResult ? $json.body.scoreResult.score : ($json.body && $json.body.fundingReadinessScore ? $json.body.fundingReadinessScore : $json.fundingReadinessScore || 0)) >= 70}}",
              "value2": true
            }
          ]
        }
      },
      "name": "High Score Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        450,
        300
      ],
      "notesInFlow": true,
      "notes": "Routes on body.scoreResult.score when the payload comes from the existing submit-score API, with fallback support for flat fundingReadinessScore payloads."
    },
    {
      "parameters": {},
      "name": "Route to CRM (Placeholder)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        700,
        200
      ],
      "notesInFlow": true,
      "notes": "Replace with CRM node after mapping applicant fields and scoreResult fields. Keep human review before outreach."
    },
    {
      "parameters": {},
      "name": "Send Preparation Email (Placeholder)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        700,
        400
      ],
      "notesInFlow": true,
      "notes": "Replace with email or nurture node using compliance-safe prep content."
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "High Score Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "High Score Check": {
      "main": [
        [
          {
            "node": "Route to CRM (Placeholder)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Preparation Email (Placeholder)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {}
}
